################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.config_extractor/output
/.config_extractor/__pycache__
/.config_extractor/board.csv
/.vs
